<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1 class="statify-home">STATify</h1>
    <div class="container-main">
        <div class="text-container-1">
            <p>
                This webpage allows you to explore your personalized Spotify insights. After logging in with your Spotify credentials, you can access your profile page to view your saved playlists and discover your top artists, tracks, and albums across different time frames.
            </p>
        </div>

        <div class="text-container-2">
            <p>
                Dive into your most frequently played tracks and get a snapshot of your listening habits, all in one place. Click the link below to access Spotify's login portal. After authentication, you'll unlock everything STATify has to offer!
            </p>
        </div>

        <!-- Checkbox for agreement -->
        <div class="terms-container">
            <input type="checkbox" id="termsCheckbox">
            <label for="termsCheckbox">
                I agree to the <a href="{{ url_for('terms') }}" target="_blank">Terms of Service</a> and 
                <a href="{{ url_for('privacy') }}" target="_blank">Privacy Policy</a>.
            </label>
        </div>

        <!-- Login button (initially disabled) -->
        <a class="login" id="loginButton" href="{{ url_for('login') }}" style="pointer-events: none; opacity: 0.5;">Login with Spotify</a>
    </div> 

    <script>
        document.getElementById('termsCheckbox').addEventListener('change', function() {
            var loginButton = document.getElementById('loginButton');
            if (this.checked) {
                loginButton.style.pointerEvents = "auto";
                loginButton.style.opacity = "1";
            } else {
                loginButton.style.pointerEvents = "none";
                loginButton.style.opacity = "0.5";
            }
        });
    </script>
</body>
</html>

